<form action="#" id="search-movie">
	<input type="text" placeholder="Digite sua busca" name="keywords">
	<input type="submit" value="Buscar">
</form>

<div id="main-player"></div>

<ul id="movie-list"></ul>

<script type="text/template" id="movie-item">
	<a href="#/movie/{{ MovieID }}"> 
		<img src="{{ CoverImage }}"/>
	</a>
	<p>{{ MovieTitle }}</p>
</script>

<script type="text/template" id="not-found">
	Nothing found
</script>

<script type="text/template" id="loading">
	<li>
		Loading..
	</li>
</script>

<script type="text/template" id="player">
	<video src="{{ VideoSource }}" controls autoplay autobuffer id="video-player">
	
	</video>
</script>
