<h2><%= @movie['MovieTitleClean'] %></h2>

	<video src="http://localhost:8888/" controls autoplay>
	
</video>

<div>
	<p><%= @movie['Quality'] %></p>
	<p><%= @movie['MovieYear'] %></p>
</div>

<div>
	<p><%= @movie['LongDescription'] %></p>
</div>
